Treinando
Vamos responder algumas perguntas, usando o df_titanic:

1) Qual a idade da pessoa mais velha do titanic?
2) Quantos passageiros existiam na primeira classe?
3) Qual foi o ticket médio que as pessoas da primeira classe pagaram? E da última?
4) Houve mais sobreviventes em quem embarcou na cabine C ou na cabine S?
5) Entre as mulheres, qual a porcentagem que sobreviveu no titanic? E entre os homens?

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
df_titanic = pd.read_csv("./titanic.csv")

In [4]:
df_titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [5]:
# 1) Qual a idade da pessoa mais velha do titanic?

df_titanic['age'].max()

80.0

In [16]:
oldest_person_age = df_titanic['age'].max()
print(f"The oldest person on the Titanic was {oldest_person_age} years old.")

The oldest person on the Titanic was 80.0 years old.

In [6]:
# 2) Quantos passageiros existiam na primeira classe?

df_titanic[df_titanic['pclass'] == 1].shape[0]

216

In [18]:
first_class_passengers = df_titanic[df_titanic['pclass'] == 1].shape[0]
print(f"There were {first_class_passengers} passengers in the first class.")

There were 216 passengers in the first class.

In [7]:
# 3) Qual foi o ticket médio que as pessoas da primeira classe pagaram? E da última?
# Primeira Classe
df_titanic[df_titanic['pclass'] == 1]['fare'].mean()

84.1546875

In [8]:
# Terceira Classe
df_titanic[df_titanic['pclass'] == 3]['fare'].mean()

13.675550101832993

In [19]:
df_titanic[df_titanic['pclass'] == 1]['fare'].mean()
df_titanic[df_titanic['pclass'] == 3]['fare'].mean()

average_first_class_ticket_price = df_titanic[df_titanic['pclass'] == 1]['fare'].mean()
average_third_class_ticket_price = df_titanic[df_titanic['pclass'] == 3]['fare'].mean()

print(f"The average ticket price for first class passengers was {average_first_class_ticket_price:.2f}.")
print(f"The average ticket price for third class passengers was {average_third_class_ticket_price:.2f}.")

The average ticket price for first class passengers was 84.15.
The average ticket price for third class passengers was 13.68.

In [9]:
# 4) Houve mais sobreviventes em quem embarcou na cabine C ou na cabine S?
# Survived class C
df_titanic[df_titanic['embarked'] == 'C']['survived'].sum()

93

In [10]:
# Survived class C
df_titanic[df_titanic['embarked'] == 'S']['survived'].sum()

217

In [20]:
cabin_c_survivors = df_titanic[df_titanic['embarked'] == 'C']['survived'].sum()
cabin_s_survivors = df_titanic[df_titanic['embarked'] == 'S']['survived'].sum()

if cabin_c_survivors > cabin_s_survivors:
    print("There were more survivors in cabin C.")
else:
    print("There were more survivors in cabin S.")

There were more survivors in cabin S.

In [11]:
# 5) Entre as mulheres, qual a porcentagem que sobreviveu no titanic? E entre os homens? E entre as crianças?

# Women:
total_women = df_titanic[df_titanic['sex'] == 'female'].shape[0]
surviving_women = df_titanic[(df_titanic['sex'] == 'female') & (df_titanic['survived'] == 1)].shape[0]
surviving_women / total_women * 100

74.20382165605095

In [14]:
# Men:
total_men = df_titanic[df_titanic['sex'] == 'male'].shape[0]
surviving_men = df_titanic[(df_titanic['sex'] == 'male') & (df_titanic['survived'] == 1)].shape[0]
surviving_men / total_men * 100

18.890814558058924

In [15]:
# Children
total_children = df_titanic[df_titanic['age'] < 18].shape[0]
surviving_children = df_titanic[(df_titanic['age'] < 18) & (df_titanic['survived'] == 1)].shape[0]
surviving_children / total_children * 100

53.98230088495575

In [21]:
total_women = df_titanic[df_titanic['sex'] == 'female'].shape[0]
surviving_women = df_titanic[(df_titanic['sex'] == 'female') & (df_titanic['survived'] == 1)].shape[0]
women_survival_percentage = surviving_women / total_women * 100

total_men = df_titanic[df_titanic['sex'] == 'male'].shape[0]
surviving_men = df_titanic[(df_titanic['sex'] == 'male') & (df_titanic['survived'] == 1)].shape[0]
men_survival_percentage = surviving_men / total_men * 100

total_children = df_titanic[df_titanic['age'] < 18].shape[0]
surviving_children = df_titanic[(df_titanic['age'] < 18) & (df_titanic['survived'] == 1)].shape[0]
children_survival_percentage = surviving_children / total_children * 100

print(f"Percentage of women who survived: {women_survival_percentage:.2f}%")
print(f"Percentage of men who survived: {men_survival_percentage:.2f}%")
print(f"Percentage of children who survived: {children_survival_percentage:.2f}%")

Percentage of women who survived: 74.20%
Percentage of men who survived: 18.89%
Percentage of children who survived: 53.98%